<div class="create">
	<div>
		<h4>Sport:</h4>
		<select>
			<option>Basketball</option>
			<option>Basketball</option>
			<option>Basketball</option>
			<option>Basketball</option>
		</select>
	</div>
	<div>
		<h4>Location:</h4>
		<select>
			<option>SPAC</option>
			<option>Blomquist</option>
			<option>Patten</option>
			<option>Lakeside</option>
		</select>
	</div>
		Date: <input type="text" placeholder="M"></input> / <input type="text" placeholder="D"></input>
	<div>
	<div>
		<div><h5 id="start">Start</h5><h5 id="stop">Stop</h5></div>
		<div class="start time-input">
			<input type="text"></input> : <input type="text"></input>
		</div>
		<div class="stop time-input">
			<input type="text"></input> : <input type="text"></input>
		</div>
	</div>
	<div>
		<h5>Participant Limit:</h5>
		<input type="text"></input>
	</div>
	<button type="button">Create</button>
</div>