<div class="search">
      <input type="text" ng-model="searchText" />
      <select>
      	<option>Any</option>
      	<option>Basketball</option>
      	<option>Soccer</option>
      	<option>Volleyball</option>
      	<option>Frisbee</option>
      </select>
      <select>
      	<option>Any</option>
      	<option>Tonight</option>
      	<option>Soccer</option>
      	<option>Volleyball</option>
      	<option>Frisbee</option>
      </select>
      <select>
      	<option>Any</option>
      	<option>Basketball</option>
      	<option>Soccer</option>
      	<option>Volleyball</option>
      	<option>Frisbee</option>
      </select>
  </div>