<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">pickupapp</h3>
</div>

<input type="text" placeholder="Filter Games..." ng-model="query"></input>

<br>

<p> {{query}} </p>

<br>
<br>

<div>
  <div ng-repeat="game in games">
    <div class="panel">
      <span>{{game.title}} - {{game.description}}</span>
      <button class="btn btn-primary">Join</button>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the ISBE Tech team</p>
</div>
