<ng-form name="newGame" ng-controller="newGameCtrl">
<!--<label> Email </label>
  <!--  <input type="number" ng-model="game.hour"
     		 /> : <input type="number" ng-model="game.minute"> -->

 <!--  <label>Sport:</label><br>
    <select class="dropList" name="gameList" ng-model="game" ng-options="g.sport for g in games" required>
        <option value=""></option> 
    </select>
    <br> <br>
    
    <label>Location:</label><br>
    <select class="dropList" name="locationList" ng-model="location" ng-options="l.name for l in locations" required> 
        <option value=""></option> 
    </select> 
    <br> <br> -->

    <label>Date : </label>
    <input class="inputBoxSmall" type="number" name="month" ng-model="monthV" min="1" max="12" placeholder="MM" required> <b>/</b>   
    <input class="inputBoxSmall" type="number" name="day" ng-model="dayV" min="1" max="31" placeholder="DD" required> <br> <br>
    <tt>dayV = {{dayV}}</tt><br/>
    <tt>newGame.day.$valid = {{newGame.day.$valid}}</tt><br/>
    <tt>monthV= {{monthV}}</tt> <br>
    <tt>newGame.month.$valid = {{newGame.month.$valid}}</tt> <br>
    
      {{newGame.$valid}}

  <!--  <label>Start</label>
    <input class="inputBoxSmall" placeholder="HR" required> <b>:</b> 
    <input class="inputBoxSmall" placeholder="MIN"required>   

    <label>End</label>
    <input class="inputBoxSmall" placeholder="HR" required> <b>:</b>
    <input class="inputBoxSmall" placeholder="MIN"required><br> <br>

    <label>Participant Limit :</label> <br>
    <input class="inputBoxSmall" ng-model="participants" ng-blur="checkParticipants()"/> <br> <br>
    <button>Invite Friends?</button> <br> <br>
   <!-- <button ng-click="submitForm()">Create Game</button>

    <!--<input ng-model="game.date" required/><br>
    <label>Start Time</label>   
    <input type="startTime" ng-model="game.startTime" required /><br>
    <label>End Time</label>
    <input type="endTime" ng-model="game.endTime" required /><br>-->
   
    <button ng-click="submitForm()">Create Game</button>

</ng-form>